<% extends ./base.html %>

<% subskin head %>
<meta name="robots" content="noindex" />

<% subskin content %>
<form method="POST" action="<% urlFor action='edit' %>">
<div><input class="title" name="name" value="<% page.name | escapeHtml %>"/></div>
<div><textarea name="body" rows="30" ><% page.body | escapeHtml %></textarea></div>

<div style="width: 90%;">
    <input name="save" value="Save" type="submit"/>
    <% linkTo "cancel" action="" %> |
    <a href="http://www.kreatives-chaos.com/markdown_help.html">markdown help</a>

    <p> Revision history:
    <% for revision in <% page.revisions %> render revisionLink %>
    Version <% page.revisions.length %></p>
</div>

<span style="display:none; position:absolute; top:-1000; left:-1000;">
    <label for="hnpt" class="hidden">If you are a human do not fill out this field.</label>
    <input id="hnpt" name="<% honeyPotName %>" value="">
</span>

</form>

<% subskin revisionLink %>
<a href="?version=<% index %>" rel="nofollow">v<% index %></a> &rarr;
