<% extends skins/base.html %>

<% subskin content %>
<h1>Recent Changes</h1>
<% for day in <% days %> render day %>
</ul>

<p><% linkTo "go to homepage" action="index" name="" %></a></p>

<% subskin day %>
<h2><% day.title %></h2>
<dl>
<% for change in <% day.changes %> render change %>
</dl>

<% subskin change %>
<dt>
    <span class="time"><% change.created | dateFormat "HH:mm" %></span>:
    <a href="<% change.page.name | toUrl %>?version=<% change.version %>">
        <span class="name"><% change.page.name %></span>
    </a>
</dt>
